body {
	margin: 0;
	text-align: center;
	background-image: url("../images/puerto.jpg");
	background-size: cover;
}

header {
	background-color: white;

}

hr {
	width: 400px;
}

h1, h3 {
	margin: 0;
	padding: 1em 0em ;
	font-family: Helvetica;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	display: inline-block; 
	border: 1px solid black; 
	padding: 12px;
	text-decoration: none; 

}

p {
	font-family: "Courier New", monospace;
}

a{
	font-style: italic;
	text-decoration: none;
}





