body {
	text-align: center;
	background-image: url("puerto.jpg");
	background-size: cover;
}
hr {
	width: 400px;
}
h1, h3 {
	font-family: Helvetica;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
}

p {
	font-family: "Courier New", monospace;
}

a{
	font-style: italic;
	text-decoration: none;
}





